.App {
  background-color: #dddddd;
  margin: 0;
  height: 100vh;
}

.App-body {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.redBox {
  background-color: #ff0038; /* Red background color */
  border: 2px solid #000000; /* Black border */
  padding: 20px; /* Adjust padding */
  margin: 20px; /* Adjust margin */
  color: #ffffff; /* Text color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* max-width: fit-content; */
}

.columnTitle{
  color:#000000;
}
.table{
  width: 75%;
}

.cell {
  border: 1px solid white; /* Add border around cell */
  background-color: #000000;
  padding: 5px; /* Add padding to cell content */
  text-align: center; /* Center text horizontally */
  margin: 10 0px;
  border-radius: 10px;
 
}

th {
  /* Add border around table headers */
  padding: 5px; /* Add padding to table headers */
  text-align: center; /* Center text horizontally */
  
}

