.tool-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 0;
    width: 100%;

}

.grid-container {
    flex: 1;
    margin: 20px;
    width:100%;
  }
 
  .vertical-line {
    border-left: 2px solid black;
    height: 376; /* Adjust height as needed */
    margin: 20px;
  }
  
  .button-column {
    margin: 20px; 
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }

  .button-wrapper {
    position: absolute;
    top: 150px; /* Adjust as needed */
    margin-left: 0;
  }
  
  .notesbox{
    box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
    border: 3px solid rgba(255, 255, 255, 0);
    outline: none;
    background-color: #EBECF0;
  }
  

  .columnTitle{
    color:#000000;
  }
 .table{
    width: 75%;
  }
  
  .cell {
    border: 1px solid white; /* Add border around cell */
    background-color: #f1f1f1;
    text-align: center; /* Center text horizontally */
    margin: 10px;
    border-radius: 10px;
    color: black;
  }
  
  .inside{
    transition: all 250ms ease-in-out;
    background-color: #EBECF0;
    box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  }

  th {
    padding: 5px; /* Add padding to table headers */
    text-align: center; /* Center text horizontally */
    
  }
  
.dropdown{
    padding: 5px; /* Adjust padding as needed */
    font-size: inherit; /* Inherit font size from parent */
    border: 1px solid #000; /* Add border to match cell border */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #f1f1f1; /* Set background color to transparent */
    cursor: pointer; /* Show pointer cursor on hover */
    width: 100%;
    color: black;
    border: none;

}

.dropdown:hover {
  background-color: #e7e7e7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.estimate{
    position: absolute;
    margin-top: 15px;
}

.project-notes{
    padding: 5px;
}

.grid-column{
  max-height: 600px;
  max-width: 900px;
  padding: 10px;

}



  
/* Button CSS */
button {
  appearance: none;
  background-color: #EBECF0 ;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 12px;
  position: relative;
  vertical-align: middle;
  word-wrap: break-word;
  margin: 2px;
  width: 190px;
  box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
}
button:hover {
  background-color: #e7e7e7;
}
button:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}